/* --------------------------Body Section Styles----------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Azeret Mono", monospace;
    margin:  auto;
    padding: 0;
    max-width: 1440px;


}

.section_headings{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
    margin-top: 80px;
}

.section_paragraph{
    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;

    }


/* -----------------------------Nav Styles----------------------- */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 131px;
    margin: 0 auto;
}

nav h2{
    width: 114px;
    height: 34px;
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    /* margin: 50px 1176px 47px 0px; */
    }

nav button{
    width: 228px;
    height: 58px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    opacity: 0.8;
    border: 1px solid rgb(13, 19, 33);
    cursor: pointer;
    color: rgb(13, 19, 33);
    font-size: 20px;

}

nav a{
    text-decoration: none;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
}

/* ------------------------------Hero Section Styles---------------------------------- */

.hero_container{
    width: 1440px;
    height: 652px;
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero_img_section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 26px;

}

.hero_writing_section h1{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    margin-top: 32px;
    margin-bottom: 24px;
}

.hero_writing_section p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    opacity: 0.7;
    margin-top: 0px;
    margin-bottom: 32px;
}

.hero_button_section button{
    width: 208px;
    height: 66px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 44px;
    border: none;
    cursor: pointer;
}

.hero_button_section a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}


/* -------------------------------------Why Web Development Styles-------------------------------------------- */
main{
    margin: 0 auto;
}

.whyweb_container{
    width: 946px;
    height: 1120px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin-top: 74px;
}

.whyweb_writing_section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.card_1, .card_2, .card_3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 48px 48px;

}

.card_heading{
    width: 390px;
    height: 72px;
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.card_paragraph{
    width: 468px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-top: 0px;
    margin-bottom: 0px;
}

.whyweb_card_section button{
    width: 150px;
    height: 48px;
    background-color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin-top: 32px;

}

.whyweb_card_section a{
    text-decoration: none;
    color: rgb(13, 19, 33);
    opacity: 0.7;
}


.whyweb_card_section h2{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    }

.whyweb_card_section p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    }




/* -------------------------------My Inspiration Styles------------------------------------ */

.inspiration_container{
    display: flex;
    justify-content: center;
    align-items: start;
    height: 590px;
}

.inspiration_content{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    text-align: center;
}



.inspiration_youtube_section{
    width: 946px;
    height: 550px;
    border: 1px solid rgb(207, 208, 211);
    border-radius: 16px;
    padding: 32px;
}iframe{
    border-radius: 16px;
    width: 882px;
    height: 486px;
}


/* -----------------------------------Current Target Styles--------------------------------- */

.target_container{
    display: flex;
    justify-content: center;
    align-items: start;
    height: 590px;
    margin-top: 149px;
}

.target_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.target_card_section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;
}



.box_1, .box_2, .box_3{
    border-radius: 16px;
    width: 364px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
}

.box_1{
    background-color: rgba(255, 76, 30, 0.05);
}

.box_2{
    background-color: rgba(0, 76, 232, 0.05);
}

.box_3{
    background-color: rgba(255, 223, 0, 0.05);
}

.target_heading{
    width: 284px;
    height: 36px;
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 8px;
    margin-left: 0px;
}

.target_paragraph{
    width: 284px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-top: 0px;
    margin-bottom: 28px;
    text-align: left;
}

.target_link{
    width: 284px;
    height: 20px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}




/* -----------------------------Footer Section Styles---------------------------------- */

footer{
    height: 471px;
}

.message{
    width: 1140px;
    height: 314px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)) , url("../assets/handshake.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    margin: 42px 150px 79px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.message_container h2{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
}

.message_container p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 24px;
}




.credit_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: rgba(13, 19, 33, 0.03);
    width: 100%;
    height: 36px;
}


input[type="text"]{
    width: 548px;
    height: 57px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
    padding: 19px 20px 19px 20px;
}

input[type="submit"]{
    width: 120px;
    height: 58px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    padding: 17px 20px 17px 20px;
    text-align: center;
}